@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    background-color: rgb(73, 65, 65);
    color: white;
}

.heading{
    text-align: center;
}

.container{
    max-width: 1400px;
    margin: auto;
    border: 2px solid;
    border-radius: 10px;
    height: 65vh;
    overflow-y: auto;
    margin-bottom: 20px;
}

.message{
    border: 2px solid;
    border-radius: 10px;
    width: 40%;
    padding: 10px;
    margin: 17px 12px;
}

.right{
    float: right;
    clear: both;
}

.left{
    float: left;
    clear: both;
}

.middle{
    margin: auto;
    clear: both;
}

.send{
    display: block;
    margin: auto;
    max-width: 1400px;
    border: 2px solid;
    border-radius: 10px;
    color: white;
}

#send-container{
    text-align: center;
}

.send-button{
    padding: 0px;
    text-align: center;
    cursor: pointer;
    border: 2px solid rgb(73, 65, 65);
    border-radius: 6px;
    height: 34px;
    width: 68px;
    background-color: green;
    color: white;
}

#message-input{
    width: 92%;
    border: 2px solid rgb(73, 65, 65);
    border-radius: 6px;
    height: 50px;
    background-color: rgb(89, 81, 81);
    color: white;
}

.editor{
    text-align: left;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 5px; 
}

.my-button-text{
    cursor: pointer;
    border: 2px solid grey;
    border-radius: 6px;
    height: 34px;
    width: 34px;
    background-color: rgb(73, 65, 65);
    color: white;
}

.my-button-text:hover{
    color: gainsboro;
    background-color: darkgray;
}